numpy==2.2.6
tzdata; sys_platform == "win32"
MetaTrader5; sys_platform == "win32"  # MT5 execution backend (Windows-only;
                                     # the AMP terminal must run on this machine)
